<article class="book"> 
  <header>

  	<h2><%= @book.title %></h2>
  </header>
  <p><label>Author:</label> <%= @book.author %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Price:</label> <%= number_to_currency(@book.price) %></p>
</article>

<%= link_to 'All Books', books_path %>